body {
  background-color: #111;
  color: white;
  font-family: sans-serif;
  text-align: center;
  padding: 2rem;
}

table {
  margin: auto;
  border-collapse: collapse;
  background-color: #222;
  border-radius: 1rem;
  padding: 1rem;
}

td, th {
  border: 1px solid #444;
  padding: 0.5rem;
}

input {
  width: 80px;
  padding: 4px;
  background: #444;
  color: white;
  border: none;
  border-radius: 4px;
  text-align: center;
}

h1 {
  margin-bottom: 2rem;
}

.result {
  margin-top: 2rem;
  font-size: 1.3rem;
  font-weight: bold;
}

.result .volume {
  color: #4f46e5; /* indigo */
}

.result .poids {
  color: #10b981; /* emerald */
}
